# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv_gpu/
.venv/
env/
ENV/

# Dataset (nuk duhet ngarkuar)
data/ECSSD/

# Checkpoints and outputs
checkpoints/
outputs/
results/
runs/

# Logs
*.log

# VSCode / PyCharm
.vscode/
.idea/

# Images & generated artifacts
*.png
*.jpg

# Misc
.DS_Store
